<div class="section clearfix" data-href="/faq">
  <h1>Frequently Asked Questions</h1>
  <div class="left">
    <h3>How does this work?</h3>
    <p>Yellow Cab is one of a number of taxi companies which uses GPS technology to track the locations of their taxis as they drive around the city. Once every minute or so, each cab reports it's location to the central dispatch. As orders for pick ups come in over the phone, these addresses are automatically passed to drivers, depending on how close they are. This location data is usually discarded after being reported - but Yellow Cab has generously allowed us to capture this information over time, allowing the generation of the maps you see on this site. See the About page for more information.</p>
    
    <h3>How are you addressing privacy concerns with this project?</h3>
    <p>Out of respect for the privacy of cab drivers and customers, no direct access to cab data with identifiable cab numbers is provided to the public or to our artists. The project emphasizes the analysis of aggregate data and data patterns, with most of this analysis happening on historic data and larger data patterns using scrambled cab numbers. Real-time information is limited to a small sample of random cabs. The display resolution is also limited to prevent tracking to and from individual addresses. We welcome comments and suggestions on how to restrict the system to a benevolent use of the data.</p>
    
    <h3>I would like to create an artist's project &ndash; how do I do it?</h3>
    <p>You are welcome, and encouraged, to make your own interpretation or analysis of this data at any time and post it to your own website or blog. If you would like a link or a copy of your work included on this site, please contact the webmaster: <a href="mailto:info@stamen.com">info@stamen.com</a>.</p>
    
    <h3>I would like to create my own Cabspotting client &ndash; how do I do it?</h3>
    <p>Please contact: <a href="mailto:info@stamen.com">info@stamen.com</a> for the instructions on writing to our API and for the open source Flash example client.</p>
  </div>

  <div class="right">
    <h3>Do you have any good ideas for a project or client?</h3>
    <p>
        Why yes! Some suggestions are:
        <ul>
          <li> A client that correlates cab rides with zip code and average income to show the relationship between socioeconomic status and use of cabs using graphs, diagrams and narrative analysis of sociological and economic patterns.</li>
          <li> Tracking an individual ride and documenting it with photos, drawings, sound recordings or video. Combine this information with the cab path extracted from the day's record to form a small portrait.</li>
          <li> Examine the points where cabs rarely or never visit and explore why this is through photographs, interviews and historical research.</li>
          <li> Examine the most frequently visited places (outside of airports and hotels) in a similar manner.</li>
          <li> Showing all the cab rides that pass in front of a specific place during one day.</li>
          <li> A client that warps the bay area map based on the frequency of cab visits, distorting the landscape to create a "cab-centric" view.</li>
          <li> A client that highlights the most eccentric paths, such as the very short, long or circuitous.</li>
          <li> Document earlier bay-area cab events and reconstruct them with the Cabspotting client. For example: "Mel Henderson did some terrific pieces in the '60s-one was a Yellow Cab piece, where we all hired a cab in San Francisco and went to a certain location at a certain hour. And all these cabs started converging, and the neighborhood became yellow. It was terrific. Too bad for anybody who was trying to get to the airport that day" (From conversation w/ Jim Melchert)</li>
        </ul>
    </p>
  </div>
</div>
