<div class="section clearfix" data-href="/projects">
  <div class="left">
    <h1>Featured Projects</h1>
    <p>Artists and researchers use the Cabspotting data set to create projects that reveal larger trends, or focus on specific events. Projects are commissioned by the Exploratorium and also submitted by the general public. They can be as small as a photographic documentation of a single journey, or as large as a meta-analysis correlating zip code, census and voting data with the Cabspotting database. Some projects are a static collection of images and text, while others create new dynamic views using Flash, Java or other computation or animation techniques.</p>
    
    <div class="project">
      <h3><a href="/projects/flycab/">Fly Cab</a></h3>
      <p>
        <a href="/projects/flycab/"><img width="370" border="0" alt="fly cab" src="http://cabspotting.org/projects/flycab/img/flycab-long.gif" /></a>
        by <strong>Tomas Apodaca</strong><br />
        It's easy to imagine a cab's movements around the city - but what if you want to look at patterns over time? This interactive flythrough of one cab's travels over the course of several days adds an extra dimension to your trip.
      </p>
    </div>
    
    <div class="project">
      <h3><a href="/projects/intransit">In Transit</a></h3>
      <p>
        <a href="/projects/intransit"><img width="370" border="0" alt="intransit" src="http://cabspotting.org/projects/intransit/img/intransit-long.jpg" /></a>
        by <strong>Amy Balkin</strong><br />
        In Transit uses the GPS data trails drawn by cabs as a starting point for looking at the city, and trying to find and make social sense of patterns that emerge visually from the data.
      </p>
    </div>
  </div>

  <div class="right">
    <h2>Timelapse Projects</h2>
    <p>Viewed over time, the routes taken by taxis in San Francisco ebb and flow, revealing patterns of movement out of and into downtown and outlying areas. By viewing the Cabspotting data in this way, the city comes alive. The rhythms of commuters, airport arrivals, traffic jams, accidents, and special events become patterns which bear a strange resemblance to circulatory systems in our own bodies.</p>

    <p>We will continue to post new animations periodically as our team and contributing artists work with the growing data set. <a href="mailto:info@stamen.com">Contact us</a> if you would like access to the underlying data or have suggestions for other timelapse visualizations you may be interested in seeing.</p>
    
    <p><strong>Caution: Some of these files are quite large (8mb), and can cause problems in some browsers.</strong></p>
    
    <div class="project">
      <h3>Intersections</h3>
      <p>Each cab's path is represented by a series of crosses. The faster the taxi is going, the larger the size of the cross.</p>
      
      <p>
        <a href="http://cabspotting.org/crosses-bay12hr.html"><img width="370" border="0" src="http://cabspotting.org/movies/crosses-bay4hr.jpg" /></a>
        <span class="caption">Bay Area, Twelve Hours</span>
      </p>
      
      <p>
        <a href="http://cabspotting.org/crosses-sf4hr02.html"><img width="370" border="0" src="http://cabspotting.org/movies/crosses-sf4hr02.jpg" /></a>
        <span class="caption">San Francisco, Four Hours, 30 minute lines:</span>
      </p>
    </div>
    
    <div class="project">
      <h3>Speed Overlay</h3>
      <p>Each cab's path is represented by a line. The color of the line depends on the speed of the taxi - red is fast, white is slow.</p>
      
      <p>
        <a href="http://cabspotting.org/lines-sf4hr.html"><img width="370" border="0" src="http://cabspotting.org/movies/lines-sf4hr.jpg" /></a>
        <span class="caption">Four hours of activity</span>
      </p>
    </div>
    
  </div>
</div>
